.register {
    margin-top: 1rem;
    font-size: 0.7rem;
}

.registerBtn {
    margin-top: 5rem;
}

.back {
    position: absolute;
    top: 1rem;
    left: 1rem;  
}

/* .backBtn {
    position: relative;
    top: 10rem;
} */

.login {
    margin-top: 2rem;
}

.logout {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
}