.game {
    position: relative;
    padding-top: 5rem;
    background-image: url("images/words3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.massage {
    height: 25px;
    padding-top: 2rem;
}

.correct {
    color: aqua;
    font-size:x-large;
}

.wrong {
    color: red;
    font-size: medium;
}

.second-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
} */

  .card1 {
    left: 50rem
  }
  
  .card2 {
    left: 69rem
    
  }
  
  .card3 {
    left: 88rem
    
  }

