.userPage-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 15rem;
    /* background-color: moccasin; */
    background-image: url("images/learn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

.inner-container {
    position: relative;
    top: 5rem;
}
