/* Common styles for both cards */
.card {
    height: 9rem;
    width: 11rem;
    border: 0.1rem solid sandybrown;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(230, 200, 156);
    vertical-align: middle;
    line-height: 9rem;
    box-shadow: 0.5rem 0.5rem 1rem yellow;
    padding: 0;
}

/* Styles specific to Hebrew words */
.he-card:hover {
    font-size: 3rem;
    height: 10rem;
    width: 12rem;
}

/* Styles specific to English words */
.en-card {
    font-size: 2.2rem;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
    /* Common styles for both cards */
    .card {
        height: 5rem;
        width: 7rem;
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
    }

    /* Styles specific to Hebrew words */
    .he-card:hover {
        font-size: 2.5rem;
        height: 6rem;
        width: 8rem;
    }

    /* Styles specific to English words */
    .en-card {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 465px) {
    /* Common styles for both cards */
    .card {
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        text-align: center;
        line-height: 3rem;
    }

    /* Styles specific to Hebrew words */
    .he-card:hover {
        font-size: 1.5rem;
        height: 4rem;
        width: 6rem;
    }

    /* Styles specific to English words */
    .en-card {
        font-size: 1rem;
        font-weight: 600;
    }
}